.pet {
    background-color: rgb(165, 75, 165);
    width: 300px;
    height: 250px;
    text-align: center;
    border-radius: 50px;
}

.eyes {
    gap: 20px;
    padding: 40px;
}

.eye {
    background-color: white;
    height: 100px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.pupil {
    margin-top: 30px;
    background-color: black;
    height: 30px;
    width: 20px;
    border-radius: 100px;
}

.eye:hover {
    scale: 110%;
}

.mouth1 {
    background-color: black;
    height: 20px;
    width: 40px;
    border-radius: 10px;
}

.mouth1:hover {
    height: 50px;
    width: 50px;
}

.mouth2 {
    background-color: black;
    height: 30px;
    width: 40px;
    border-radius: 20px;
}

.centered-div {
    display: flex;
    justify-content: center;
}